.circle_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -150px;
	margin-top: 50px;
	gap: 25px;
	cursor: pointer;
}

.dot {
	position: relative;
	height: 19px;
	width: 19px;
	background-color: bisque;
	border-radius: 50%;
	display: inline-block;
	transition: transform 0.2s;
	left: 250px;
	cursor: none;
	top: 5px;
}

.Active span {
	background: #fe3b1f;
	transform: scale(1.5);
}

button.button-right {
	background: none;
	border: 1px;
}

.previouses {
	display: flex;
	align-items: center;
	justify-content: center;
}

img.left {
	position: relative;
	margin-right: 50px;
	background: none;
	height: 19px;
	width: 19px;
	border-radius: 50%;
	cursor: pointer;
}

img.right {
	position: relative;
	margin-left: 260px;
	background: none;
	height: 19px;
	width: 19px;
	border-radius: 50%;
	left: -90px;
	cursor: pointer;
}

.Eventnone {
	visibility: initial;
}
