.background_2 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: relative;
	background: #151718;
}

.submit {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border: 1px solid #fe3b1f;
	background-color: #fe3b1f;
	border-radius: 50px;
	width: 300px;
	height: 70px;
	font-size: 36px;
	font-family: Monsterrant;
	cursor: pointer;
	cursor: pointer;
	position: relative;
	left: 100px;
}

.submit:hover {
	transform: scale(1.1);
}

.go_back {
	position: relative;
	margin-top: 150px;
	left: -115px;
	color: #ffffff;
}
