.all {
	position: relative;
	margin-top: -60px;
	top: 30px;
}

.rocketer_3 {
	position: absolute;
	margin-top: -330px;
	width: 788px;
	font-family: Rowdies;
	color: #fe3b1f;
	line-height: 100px;
	font-size: 54px;
	top: 10px;
	margin-left: -400px;
}

.topping {
	margin-top: 0.5rem;
}

.work {
	position: relative;
	margin-top: 120px;
	width: 645px;
	height: 52px;
	font-family: Montserrat;
	margin-left: 100px;
	font-size: 18px;
	color: #000000;
	margin-bottom: -25px;
	top: 10px;
}

.checkbox {
	position: relative;
	margin-left: 100px;
	width: 12px;
	height: 12px;
}

.checkbox_2 {
	position: relative;
	margin-left: 100px;
	width: 12px;
	height: 12px;
	top: 3px;
}

.checkbox_3 {
	position: relative;
	margin-left: 60px;
}

.errors_2 {
	position: relative;
	left: 100px;
	font-style: italic;
	font-size: 11px;
	color: #fe3b1f;
	line-height: 13px;
}

button.lastTogled_2 {
	background: none;
	border: 1px;
}

input.checkbox_4 {
	margin-left: 50px;
}

.change {
	position: relative;
	font-size: 14px;
	font-family: Monsterrant;
	line-height: 17.5px;
	margin-left: 130px;
	top: -20px;
	margin-bottom: -13px;
}

.change_2 {
	position: relative;
	font-size: 14px;
	font-family: Monsterrant;
	line-height: 17.5px;
	margin-left: 130px;
	top: -22px;
	margin-bottom: -13px;
}

.change_4 {
	position: relative;
	font-size: 14px;
	font-family: Monsterrant;
	line-height: 17.5px;
	margin-left: 130px;
	top: -22px;
	margin-bottom: -13px;
	left: -10px;
}

.work_2 {
	margin-left: 100px;
	margin-bottom: 5px;
	color: #000000;
}

.when {
	margin-left: 100px;
	font-size: 18px;
	color: #000000;
	margin-bottom: 15px;
}

input#form-input_3 {
	margin-left: 100px;
	border: 1px solid black;
	width: 230px;
	margin-bottom: 25px;
	font-size: 18px;
	font-family: Monsterrant;
}

input.form-input_3 {
	margin-left: 100px;
	border: 1px solid black;
	width: 230px;
	margin-bottom: 8px;
	font-size: 18px;
	font-family: Monsterrant;
}

button.isTogled {
	background: white;
	border: 1px;
	padding: 0;
}

.text {
	margin-left: 100px;
	font-size: 18px;
	font-family: Montserrat;
	color: #000000;
	margin-bottom: 15px;
}

.last {
	margin-left: 100px;
	font-size: 18px;
	font-family: Monsterrant;
	color: #000000;
	margin-bottom: 15px;
}

.reddbery_origin_3 {
	display: flex;
	justify-content: center;
	margin-top: -320px;
	width: 788px;
	height: 175px;
	font-family: Rowdies;
	color: #fe3b1f;
	line-height: 60px;
	margin-left: -50px;
	font-size: 50px;
}

.content_3 {
	position: absolute;
	top: -200px;
	color: #fff;
	font-size: 24px;
	padding: 70px;
	width: 650px;
	text-align: justify;
	left: 30px;
	margin-top: -50px;
}
