.card{
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem;
    width: 250px;
    right: 100px;
    box-shadow: 0 0 28px 4px rgba(126, 122, 122, 0.1);
    transition: transform .2s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
}

.card_titile{
    font-weight: 1000;
    font-size: 1.5rem;
}

.card_image{
    display: flex;
    justify-content: flex-end;
}

.card_image img{
    border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
    .card{
      flex-direction: column;
      padding: 1rem;
    }
    .card_image{
       padding: 10px 10px;
       display: flex;
       justify-content: flex-end;
    }
    .card_image img{
       font-weight: 1000;
       font-size: 1rem;
    }
  }