.rocketer_2 {
	position: relative;
	margin-top: -25px;
	width: 788px;
	font-family: Rowdies;
	color: #fe3b1f;
	line-height: 100px;
	font-size: 50px;
	top: 40px;
}

.reddbery_origin_2 {
	display: flex;
	justify-content: center;
	margin-top: -280px;
	width: 788px;
	height: 175px;
	font-family: Rowdies;
	color: #fe3b1f;
	line-height: 60px;
	margin-left: -50px;
	font-size: 50px;
}

.content_2 {
	position: absolute;
	top: -200px;
	color: #fff;
	font-size: 24px;
	padding: 70px;
	width: 650px;
	text-align: justify;
	left: 30px;
}

.remove{
	position: relative;
	width: 50px;
	height: 15px;
	background: none;
	margin-left: 500px;
	top: -500px;
	color: #fe3b1f;	
}

.form_container_2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	gap: 2px;
	flex-direction: column;
}

.selector {
	position: relative;
	width: 20px;
	height: 22px;
	color: #fe3b1f;
	margin-left: -20px;
	left: -30px;
	border: 1px solid white;
	cursor: pointer;
	-webkit-writing-mode: horizontal-tb;
	font-style: italic;
}

option.skills {
	position: absolute;
	font-size: 15px;
	color: black;
}

.add_duration {
	display: flex;
	width: 210px;
	height: 40px;
	align-items: center;
	justify-content: center;
	margin-left: 140px;
	border: 1px solid #fe3b1f;
	background-color: #fe3b1f;
	color: #fff;
	cursor: pointer;
	margin-top: 20px;
}


.form_inputs{
	margin-top: 20px;
	margin-bottom: -25px;
}

.form-input_2{
	flex-direction: column;
	margin: 15px;
	padding-left: 30px;
	height: 40px;
	width: 350px;
	border: 1px solid black;
	font-family: Montserrat;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 5px;
  }

  .experience{
	position: relative;
	top: -35px;
	font-family: Monsterant;
	font-size: 14px;
	font-style: italic;
  }

  .remove {
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    background: none;
    margin-left: 530px;
    top: -55px;
    color: #fe3b1f;
    border: 1px solid #fe3b1f;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}