.splitleft {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	overflow-y: scroll;
}

.left {
	left: 0;
	background-color: #fff;
}

.rocketer_2 {
	position: relative;
	margin-top: -25px;
	width: 788px;
	font-family: Rowdies;
	color: #fe3b1f;
	line-height: 100px;
	font-size: 50px;
}

.errors_3 {
	position: relative;
	left: -70px;
	font-size: 14px;
	font-style: Montserrat;
	color: #fe3b1f;
}

.duration {
	padding-left: 35px;
	font-family: Montserrat;
	font-style: italic;
	color: #000000;
}

.reddbery_origin_2 {
	display: flex;
	justify-content: center;
	margin-top: -280px;
	width: 788px;
	height: 175px;
	font-family: Rowdies;
	color: #fe3b1f;
	line-height: 60px;
	margin-left: -50px;
	font-size: 50px;
}

.content_2 {
	position: absolute;
	top: -200px;
	color: #fff;
	font-size: 24px;
	padding: 70px;
	width: 650px;
	text-align: justify;
	left: 30px;
}

.remove {
	position: relative;
	width: 50px;
	height: 15px;
	background: none;
	margin-left: 500px;
	top: -500px;
	color: #fe3b1f;
}

.form_container_2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	gap: 2px;
	flex-direction: column;
}

.selector {
	position: relative;
	width: 20px;
	height: 22px;
	color: #fe3b1f;
	margin-left: -20px;
	left: -30px;
	border: 1px solid white;
	cursor: pointer;
	-webkit-writing-mode: horizontal-tb;
	font-style: italic;
}

.skills {
	position: absolute;
	font-size: 15px;
	color: black;
}

.add_duration {
	display: flex;
	width: 230px;
	height: 50px;
	align-items: center;
	justify-content: center;
	margin-left: 120px;
	border: 1px solid #fe3b1f;
	background-color: #fe3b1f;
	color: #fff;
	margin-top: 20px;
}
.form_inputs {
	margin-top: 20px;
	margin-bottom: -25px;
}

.form-input_2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-right: 240px;
	margin: 15px;
	height: 40px;
	width: 350px;
	border: 1px solid black;
	font-family: Montserrat;
	font-style: italic;
	font-size: 18px;
	margin-bottom: 5px;
	margin-left: 220px;
}

.form-input_date {
	flex-direction: column;
	margin: 15px;
	padding-left: 290px;
	height: 40px;
	width: 350px;
	border: 1px solid black;
	font-family: Montserrat;
	font-style: italic;
	font-size: 20px;
}

input#experience {
	width: 350px;
	height: 35px;
	border: 1px solid black;
	font-size: 18px;
	font-family: Monsterrant;
}

.form-input_4 {
	flex-direction: column;
	margin: 18px;
	padding-left: 35px;
	height: 35px;
	width: 355px;
	border: 1px solid black;
	font-family: Montserrat;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 35px;
}

.experience {
	position: relative;
	top: -35px;
	font-family: Monsterant;
	font-size: 14px;
	font-style: italic;
}

.remove {
	display: flex;
	position: relative;
	width: 20px;
	height: 20px;
	background: none;
	margin-left: 530px;
	top: -55px;
	color: #fe3b1f;
	border: 1px solid #fe3b1f;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
