.background {
  position: relative;
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.components > div {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-weight: 400;
}

.title {
  width: 1000px;
  height: 215px;
  font-family: "Rowdies", cursive;
  font-size: 70px;
  line-height: 119px;
  color: #fe3b1f;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-color: black;
  width: 100%;
  height: 110vmin;
}

.start {
  cursor: pointer;
  position: relative;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  height: 50px;
  background: #fe3b1f;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 29px;
}

.sub {
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  font-family: Montserrat;
  cursor: pointer;
}

.sub:hover{
  cursor: pointer;
  color: blue;
}

.rocket {
  position: relative;
  width: 300px;
  height: 270px;
  background: #000;
  margin-top: -30px;
  background-image: none;
  background-color: transparent;
}
